.wrapper {
    width: fit-content;
}

.mainRowWrapper {
    display: flex;
}

.colWrapper {
    font-weight: bold;
    letter-spacing: 0.25em;
    text-align: center;
    background-color: var(--ifm-tabs-color-active);
    color: #ffffff;
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.rowWrapper {
    font-weight: bold;
    letter-spacing: 0.25em;
    text-align: center;
    background-color: var(--ifm-tabs-color-active);
    color: #ffffff;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin-bottom: var(--ifm-spacing-vertical);
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

thead tr:first-child {
    background-color: var(--ifm-tabs-color-active);
    color: #ffffff;
}

td:first-child {
    background-color: var(--ifm-tabs-color-active);
    color: #ffffff;
}

td,
th {
    width: 50px;
    height: 50px;
    font-weight: normal !important;
}
